  <div class="wrapper">
    <form class="form-signin" action="" id="myLogin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" ng-model="username" id="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" ng-click="submit()" type="submit">Login</button>   
    </form>
  </div>